@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.dissapear{
  animation: dissapear 1s 0.1s 1 forwards;
}

@keyframes dissapear {
  0%{
    transform: translateY(0px);
  }
  20%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(-1000px);
  }
}

.appear{
  animation: appear 1s 0.1s 1 forwards;
  opacity: 0;
}

@keyframes appear {
  0%{
    transform: translateY(-1000px);
    opacity: 0;
  }
50%{
  opacity: 0.5;
}
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}